* {
  box-sizing: border-box;
}
.container {
  margin: 0;
  padding: 0;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100vw;
}
.content {
  /* background-color: rgb(193, 220, 230); */
  width: 100vw;
  margin-bottom: 2.5rem;
  margin-top: 3.2rem;
  padding: 1rem;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 2.5rem;
  border-top: solid;
  background-color: white;
}
